#__nuxt {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
*:focus {
  outline: 0;
}

body,
html {
  height: 100%;
}

body {
  color: #222;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

/* variables */
:root {
  --mysuni-admin-color-prime: #df523c;
  --mysuni-admin-color-point: #23a802;
  --mysuni-admin-color-gray-01: #efefef;
  --mysuni-admin-color-gray-02: #e0e0e0;
  --mysuni-admin-color-gray-03: #d9d9d9;
  --mysuni-admin-color-gray-04: #cccccc;
  --mysuni-admin-color-gray-05: #999999;
  --mysuni-admin-color-gray-06: #666666;
  --mysuni-admin-color-gray-07: #222222;
  --mysuni-admin-color-gray-08: #4c4c4c;
  --mysuni-admin-font-size: 13px;

  --mysuni-admin-typeDark-bg: #2e2e2e;
  --mysuni-admin-typeDark-color-prime: #DD052B;
}

/* important */
.w100 {
  width: 100% !important;
}

/* admin-container */
#admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* sidebar */
  .sidebar {
    position: relative;
    display: flex;
    width: 240px;
    flex-direction: column;
    border-right: 2px solid var(--mysuni-admin-color-prime);
    transition: margin-left 0.5s;
    .top {
      padding: 20px;
      flex: 0;
      background: var(--mysuni-admin-color-prime);
      .h1 {
        margin-bottom: 25px;
        .logo {
          display: block;
          width: 98px;
          height: 28px;
          font-size: 0;
          text-indent: -9999px;
          overflow: hidden;
          background: url("/assets/images/admin/sp_admin.png") 0 0 no-repeat;
        }
      }
      .user {
        color: #fff;
        .greetings {
          display: flex;
          font-size: 16px;
          font-weight: 400;
          > p {
            line-height: 23px;
            flex: 1;
          }
          .logout {
            width: 20px;
            height: 20px;
            line-height: 0;
            padding: 0;
            margin-left: auto;
            text-indent: -9999px;
            border: none;
            overflow: hidden;
            background: url("/assets/images/admin/sp_admin.png") -135px 0 no-repeat;
          }
        }
        .date {
          padding-top: 6px;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .lnb-wrap {
      flex: 1;
      overflow-y: scroll;
      .lnb {
        /* depth1 */
        .depth1 {
          overflow: hidden;
          > li {
            > a {
              position: relative;
              display: block;
              padding: 15px 40px 15px 20px;
              font-weight: 700;
              color: #222;
              border-bottom: 1px solid #d9d9d9;
              &:after {
                position: absolute;
                top: 50%;
                right: 20px;
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background: url("/assets/images/admin/sp_admin.png") -160px 0 no-repeat;
                transform: translateY(-50%) rotate(180deg);
              }
              &.active:after {
                transform: translateY(-50%);
              }
              & + ul {
                max-height: 0;
                transition: all 0.3s;
              }
              &.active + ul {
                max-height: initial;
                transition: all 0.3s;
              }
            }
          }
        }
        /* depth2 */
        .depth2 {
          overflow: hidden;
          > li {
            border-bottom: 1px solid #fff;
            > a {
              position: relative;
              display: block;
              padding: 14px 40px 14px 20px;
              color: #222;
              background: #f5f5f5;
              &:after {
                position: absolute;
                top: 50%;
                right: 20px;
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background: url("/assets/images/admin/sp_admin.png") -185px 0 no-repeat;
                transform: translateY(-50%) rotate(180deg);
              }
              &.active:after {
                transform: translateY(-50%);
              }
              & + ul {
                max-height: 0;
                transition: all 0.3s;
              }
              &.active + ul {
                max-height: 100vh;
                transition: all 0.3s;
              }
            }
          }
        }
        /* depth3 */
        .depth3 {
          overflow: hidden;
          > li {
            &:first-child {
              padding-top: 15px;
            }
            &:last-child {
              padding-bottom: 15px;
            }
            > a {
              display: flex;
              padding: 6px 20px;
              color: #666;
              > button {
                width: 20px;
                height: 20px;
                margin-left: auto;
                border: none;
                font-size: 0;
                text-indent: -9999px;
                overflow: hidden;
                background: url("/assets/images/admin/sp_admin.png") -210px 0 no-repeat;
                &.active {
                  background-position: -230px 0;
                }
              }
              &.active {
                color:#222;
                font-weight:bold;
              }
            }
          }
        }
      }
    }
    .toggle-sidebar {
      position: absolute;
      z-index: 1;
      top: 0;
      right: -30px;
      display: flex;
      width: 30px;
      height: 30px;
      font-size: 0;
      text-indent: -9999px;
      border: none;
      align-items: center;
      overflow: hidden;
      background: var(--mysuni-admin-color-prime);
      &:before,
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 3px;
        border-radius: 3px;
        background: #fff;
      }
      &:before {
        top: 9px;
        left: 10px;
        transform: rotate(-55deg);
        transition: transform 0.5s;
      }
      &:after {
        bottom: 10px;
        left: 10px;
        transform: rotate(55deg);
        transition: transform 0.5s;
      }
      &.hide {
        &:before {
          transform: rotate(55deg);
        }
        &:after {
          transform: rotate(-55deg);
        }
      }
    }
    &:has(.toggle-sidebar.hide) {
      margin-left: -240px;
      transition: margin-left 0.5s;
    }
  }
  &.type_dark {
    .sidebar {
      border-right-color: var(--mysuni-admin-typeDark-bg);
      .top {
        background: var(--mysuni-admin-typeDark-bg);
      }
      .toggle-sidebar {
        background: var(--mysuni-admin-typeDark-bg);
      }
    }
    /* radio / check */
    .el-radio input:checked + label:before {
      background-position:-125px -70px;
    }
    .el-checkbox input:checked + label:before {
      background-position:-50px -70px;
    }

    & button {
      &.prime {
        color:var(--mysuni-admin-typeDark-color-prime);
        border-color:var(--mysuni-admin-typeDark-color-prime);
        &.solid {
          background-color:var(--mysuni-admin-typeDark-color-prime);
        }
      }
    }
    .area-result {
      & table {
        & tbody {
          & tr.modify td {
            background-color:#FFF2F5;
          }
        }
      }
    }
  }

  /* main */
  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .header {
      display: flex;
      padding: 30px 20px 30px 40px;
      border-bottom: 1px solid #d9d9d9;
      align-items: center;
      .title-area {
        display: flex;
        align-items: center;
        .h2 {
          font-size: 18px;
          font-weight: 700;
          color: #222;
        }
        .button-manual {
          height: 30px;
          line-height: 32px;
          padding: 0 10px;
          margin-left: 15px;
          font-size: var(--mysuni-admin-font-size);
          color: #fff;
          border: none;
          border-radius: 3px;
          background: #999;
        }
      }
      .bread-crumb {
        margin-left: auto;
        font-size: var(--mysuni-admin-font-size);
        color: #666;
      }
    }
    .content-wrap {
      padding: 30px 40px;
      flex: 1;
      overflow: scroll;
      .content {
        max-width: 1600px;
        margin:0 auto;
      }
    }
  }

  /* button */
  & button {
    height: 37px;
    padding: 0 10px;
    font-size: var(--mysuni-admin-font-size);
    color: #000;
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    vertical-align: top;
    &.icon {
      width: 16px;
      height: 16px;
      font-size: 0;
      text-indent: -9999px;
      border: none;
      overflow: hidden;
      background: url("/assets/images/admin/sp_admin.png") 0 0 no-repeat;
      &.del {
        background-position: -40px -52px;
      }
      &.cal {
        background-position: -60px -52px;
      }
      &.sch {
        background-position: -80px -52px;
      }
      &.arw {
        background-position: -100px -52px;
      }
    }
    &.prime {
      color: var(--mysuni-admin-color-prime);
      border-color: var(--mysuni-admin-color-prime);
      &.solid {
        color: #fff;
        background-color: var(--mysuni-admin-color-prime);
      }
      &.disabled {
        border:1px solid var(--mysuni-color-gray-05);
      }
    }
    &.point {
      color: var(--mysuni-admin-color-point);
      border-color: var(--mysuni-admin-color-point);
      &.solid {
        color: #fff;
        background-color: var(--mysuni-admin-color-point);
      }
      &.disabled {
        border:1px solid var(--mysuni-color-gray-05);
      }
    }
    &.upld:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: -2px 0 0 10px;
      vertical-align: middle;
      background: url("/assets/images/admin/sp_admin.png") -20px -52px no-repeat;
    }
    &.upld.disabled:after {
      background-position:-150px -52px;
    }
    &.dnld:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: -2px 0 0 10px;
      vertical-align: middle;
      background: url("/assets/images/admin/sp_admin.png") 0 -52px no-repeat;
    }
    &.dnld.disabled:after {
      background-position:-130px -52px;
    }
    &.refresh {
      width: 36px;
      padding: 0;
      font-size: 0;
      &:after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background: url("/assets/images/admin/sp_admin.png") -105px 0 no-repeat;
      }
    }
    &.text-only {
      width: auto;
      height: auto;
      padding: 0;
      border: none;
      white-space: nowrap;
    }
    &.underline {
      height: auto;
      border: none;
      text-decoration: underline;
      color: #666;
    }
    &.disabled {
      color: var(--mysuni-color-gray-05);
      border: none;
      background: #ebebeb;
      cursor:default;
    }
    &.dark {
      color: var(--mysuni-color-white);
      border: none;
      background: var(--mysuni-color-gray-06);
    }
  }

  /* area-contition */
  .area-contition {
    position: relative;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #efefef;
    justify-content: space-between;
    & table {
      flex: 1;
      &.f0{
        flex: inherit;
      }
      & th,
      & td {
        height: 45px;
        padding: 5px 10px;
        font-size: var(--mysuni-admin-font-size);
        text-align: left;
        white-space: nowrap;
        > * {
          margin-right: 8px;
        }
        > .el-radio,
        > .el-checkbox {
          margin-right: 20px;
        }
      }
      & tr:first-child th,
      & tr:first-child td {
        padding-top: 0;
      }
      & tr:last-child th,
      & tr:last-child td {
        padding-bottom: 0;
      }
    }
    & button.submit {
      min-width: 125px;
      height: auto;
      margin-left: 10px;
      font-size: var(--mysuni-admin-font-size);
      font-weight: 700;
      color: #fff;
      border: none;
      border-radius: 3px;
      background: #454545;
    }
  }

  .info_box {
    margin-bottom:30px;
    padding:30px;
    background-color:#F5F5F5;
    border:1px solid #d9d9d9;
    text-align:center;
    strong {
      font-size:22px;
    }
    p {
      margin-top:15px;
      font-size:18px;
    }
  }
}

/* Add:2024-05-20 회원정보 상세 레이어를 위한 스타일 분리 */
/* form element */
  .multi-form { /* input & button 조합형 */
    display: flex;
    > .el-text {
      flex:1;
    }
  }
  .check_group {
    margin-top:-8px;
    > * {
      margin-top:8px;
      margin-right:8px;
    }
  }

  .el-text,
  .input-wrap {
    display: inline-flex;
    width: 150px;
    padding-right: 10px;
    padding-left:0;
    font-size: var(--mysuni-admin-font-size);
    border: 1px solid #999;
    border-radius: 3px;
    vertical-align: middle;
    align-items: center;
    gap: 5px;
    background: #fff;
    & input[type="text"], & input[type="number"], & input[type="email"] {
      width: 100%;
      height: 35px;
      min-height: auto;
      text-indent: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:disabled {
        background: none;
      }
    }
    &:has(input[type="text"]:disabled) {
      background: var(--mysuni-admin-color-gray-01);
    }
  }
  .el-select,
  .select-wrap {
    position: relative;
    display: inline-flex;
    width: 150px;
    height:auto;
    font-size: var(--mysuni-admin-font-size);
    border: 1px solid #999;
    border-radius: 3px;
    vertical-align: middle;
    align-items: center;
    background: #fff;
    &:has(select:disabled) {
      background: var(--mysuni-admin-color-gray-01);
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      pointer-events: none;
      background: url("/assets/images/admin/sp_admin.png") -100px -52px no-repeat;
      transform: translateY(-50%);
    }
    & select {
      width: 100%;
      height: 35px;
      min-height: auto;
      padding: 0 30px 0 0;
      text-indent: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor:pointer;
    }
  }
  .el-radio,
  .el-checkbox {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    & input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      font-size: 0;
      &:disabled + label {
        cursor:default;
      }
    }
    & label {
      font-size: var(--mysuni-admin-font-size);
      cursor:pointer;
      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        background-image: url("/assets/images/admin/sp_admin.png");
        background-repeat: no-repeat;
      }
    }
  }
  .el-radio label:before {
    background-position: -100px -30px;
  }
  .el-radio input:checked + label:before {
    background-position: -125px -30px;
  }
  .el-radio input:disabled + label:before {
    background-position: -75px -30px;
  }
  .el-checkbox label:before {
    background-position: -25px -30px;
  }
  .el-checkbox input:checked + label:before {
    background-position: -50px -30px;
  }
  .el-checkbox input:disabled + label:before {
    background-position: 0 -30px;
  }
  .el-textarea, .input-textarea {
    display: inline-flex;
    width: 150px;
    height: 100%;
    font-size: var(--mysuni-admin-font-size);
    border: 1px solid #999;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    & textarea {
      width: 100%;
      padding: 10px;
      border: none;
      resize: none;
    }
    &:has(textarea:disabled) {
      background: var(--mysuni-admin-color-gray-01);
    }
  }
  .file-upload {
    position: relative;
    display: inline-block;
    vertical-align: top;
    & input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      font-size: 0;
    }
    & label {
      display: block;
      height: 37px;
      line-height: 38px;
      padding: 0 10px;
      font-size: 13px;
      color: #fff;
      border-radius: 3px;
      background: var(--mysuni-admin-color-prime);
      cursor:pointer;
    }
  }
  .image-box {
    margin-top: 10px;
    & img {
      display: block;
      width: auto;
      height: 100px;
    }
  }

  /* area-title */
  .area-title {
    display: flex;
    min-height: 37px;
    margin-bottom: 10px;
    align-items: center;
    gap:20px;
    .h3 {
      font-size: 16px;
      color: #222;
      display: flex;
      align-items: center;
      .el-checkbox {
        margin-left:20px;
      }
      & + .count {
        margin-left: 10px;
      }
    }
    .buttons {
      display: flex;
      margin-left: auto;
      gap: 8px;
      & span.upld {
        position:relative;
        &.disabled {
          & label {
            color:var(--mysuni-color-gray-05);
            background-color:#ebebeb;
            border:1px solid var(--mysuni-color-gray-05);
            &:after {
              background-position:-150px -52px;
            }
          }
        }
        & label {
          height: 37px;
          padding: 0 10px;
          font-size: var(--mysuni-admin-font-size);
          color: var(--mysuni-admin-color-point);
          border:1px solid var(--mysuni-admin-color-point);
          border-radius:3px;
          background: #fff;
          cursor:pointer;
          display:flex;
          align-items:center;
          &:after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: -2px 0 0 10px;
            vertical-align: middle;
            background: url("/assets/images/admin/sp_admin.png") -20px -52px no-repeat;
          }
        }
        & input {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          font-size: 0;
        }
      }
    }
    .count {
      > span {
        color: var(--mysuni-admin-color-prime);
      }
      & + .count {
        &:before {
          content: "|";
          margin: 0 5px;
        }
      }
    }
  }

  /* area-result */
  .area-result {
    position:relative;
    .preloader_wrap {
      position:absolute;
    }
    & table {
      width: 100%;
      margin-bottom: 20px;
     
      & thead {
        & th {
          padding: 8px 5px;
          font-size: 14px;
          font-weight: 700;
          color: #222;
          border-top: 1px solid #222;
          border-bottom: 1px solid #222;
          vertical-align: middle;
          background: #f5f5f5;
        }
      }
      & tbody {
        & td {
          padding: 8px 5px;
          font-size: var(--mysuni-admin-font-size);
          color: #666;
          border-bottom: 1px solid #d9d9d9;
          text-align: center;

        
        }
        & .emphasis {
          font-weight: 700;
          color: #222;
        }
        & tr.emphasis * {
          font-weight: 700;
          color: #222;
        }
        & tr.modify td {
          background: #fff6f4;
        }
        & tr.checked td {
          box-shadow: 0 1px 0 0 #999 inset, 0 -1px 0 0 #999 inset;
        }
        & .no-result {
          display: flex;
          height: 40px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
   
    }
    &.align-left {
      & thead th,
      & tbody td {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .ellipsis {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  /* box-pagination */
  .box-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    & a {
      height: 20px;
      line-height: 23px;
      margin: 0 7px;
      font-size: 14px;
      color: #999;
      overflow: hidden;
      &.current {
        font-weight: 700;
        color: #222;
      }
      &.move {
        width: 20px;
        height: 20px;
        margin: 0;
        font-size: 0;
        text-indent: -9999px;
        background: url("/assets/images/admin/sp_admin.png") -150px -30px no-repeat;
        &.first {
          background-position: -150px -30px;
        }
        &.prev {
          background-position: -170px -30px;
        }
        &.next {
          background-position: -190px -30px;
        }
        &.last {
          background-position: -210px -30px;
        }
      }
    }
  }

  /* area-regist */
  .area-regist {
    margin-bottom:30px;
    border-top: 1px solid #222;
    position:relative;
    .preloader_wrap {
      position:absolute;
    }
    & table {
      width: 100%;
      & th,
      & td {
        border-bottom: 1px solid #d9d9d9;
        text-align: left;
        vertical-align:top;
      }
      & th {
        max-width: 230px;
        padding: 8px 15px;
        word-wrap: break-word;

        background: #f5f5f5;
      }
      & td {
        padding: 10px 15px;
        background: #fff;
        > * {
          margin-right: 8px;
        }
      }
      thead {
        tr {border-bottom:1px solid #222;
          th {border-bottom:1px solid #222;}
        }
      }
    }

    &.fix_width {
      & th {
        width:230px !important;
        word-wrap:normal;
      }
      & td {
        width:510px !important;
        word-break:break-all;
      }
    }

    .box-regist-inputs {
      margin-right: 0;
    }

    .reference {
      padding-top: 10px;
    }
  }

  /* table scroll */
  .table-wrap {
    overflow:auto;
    table {
      width:auto;
      min-width:100%;
      table-layout:fixed;
      thead {
        word-break:keep-all;
      }
      th, td {
        width:initial;
        text-align:inherit;
      }
    }
    &.type_vertical {
      thead {
        position:sticky;
        top:0;
      }
    }
    &.type_horizontal {
      thead {
        th {
          text-align:center;
          &:first-of-type, &:nth-of-type(2) {
            position:sticky;
            left:0;
            
          }
          &:nth-of-type(2) {
            position:sticky;
            left:113px;
          }
        }
      }
      tbody {
        td {
          text-align:center;
          &:first-of-type, &:nth-of-type(2) {
            background-color:#fff;
            border-bottom: 1px solid #d9d9d9;
            position:sticky;
            left:0
          }
          &:nth-of-type(2) {
            position:sticky;
            left:113px;
          }
        }
      }
    }
  }

  /* required */
  .required:after {
    content: "*";
    margin-left: 4px;
    color: var(--mysuni-admin-color-prime);
  }

  /* box-regist-inputs */
  .box-regist-inputs {
    .top {
      display: flex;
      padding-bottom: 10px;
      align-items: center;
      > p {
        font-size: var(--mysuni-admin-font-size);
        color: #999;
        margin-right: auto;
      }
    }
    .context {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  /* box-buttons */
  .box-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    > button {
      width: 125px;
    }
    &.align-right {
      justify-content: flex-end;
      > button {
        width: auto;
      }
    }
  }

  /* modal */
  .modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);

    &.active {
      display: flex;
    }

    .modal-container {
      display: flex;
      width: 100%;
      max-width: 700px;
      max-height: 100vh;
      background: #fff;
      border-radius: 0;
      flex-direction: column;

      &.policy {
        width:800px;
        max-width:initial;
      }
      &.large {
        max-width: calc(100% - 60px);
        max-height: calc(100% - 60px)
      }

      &.wide {
        max-width: 1200px;
      }

      .header {
        display: flex;
        padding: 20px 40px;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        flex-wrap: wrap;
        flex: 0;
        justify-content: space-between;
        .title {
          font-size: 18px;
          font-weight: 700;
          color: #222;
        }
        .button {
          width: 24px !important;
          height: 24px !important;
          padding: 0 !important;
          overflow: hidden !important;
          text-indent: -9999px !important;
          border: none !important;
          background: url("/assets/images/admin/sp_admin.png") 0 -70px no-repeat !important;
        }
        .row {
          width: 100%;
          padding-top: 15px;
        }
      }

      .content {
        min-width:initial;
        padding: 30px;
        flex: 1;
        overflow-y: scroll;
      }
    }
  }

  /* code-search-list */
  .code-search-list {
    .top {
      padding-bottom: 10px;
      font-size: 14px;
      color: var(--mysuni-admin-color-gray-07);
    }
    .list {
      > li {
        border-bottom: 1px solid var(--mysuni-admin-color-gray-01);
        .button {
          display: flex;
          width: 100%;
          height: auto !important;
          padding: 10px 0 !important;
          border: none !important;
          align-items: center !important;
          background: none !important;
          overflow: hidden !important;
          gap: 10px;
          .name {
            display: flex;
            min-width: 0;
            flex-direction: column;
            flex: 1;
            gap: 6px;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;
            > * {
              display: block;
              width: 100%;
              font-size: 14px;
              color: var(--mysuni-admin-color-gray-06);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: left;
            }
            > strong {
              font-weight: 400;
              > em {
                font-style: normal;
                color: var(--mysuni-admin-color-prime);
              }
            }
            > span {
              > em {
                font-style: normal;
                color: var(--mysuni-admin-color-prime);
              }
            }
          }
          .info {
            font-size: 14px;
            color: var(--mysuni-admin-color-gray-06);
            flex: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }

  /* layout-column */
  .layout-column {
    display: flex;
    gap: 30px;
    > .column {
      width: 50%;
    }
    > .column-4 {
      width: 30%;
    }
    > .column-6 {
      width: 70%;
    }
  }

  /* common-tabs */
  .common-tabs {
    display: flex;
    width: 100%;
    margin-bottom: 10px;

    > button {
      display: block;
      border: none;
      flex: 1;
      font-size: var(--mysuni-admin-font-size);
      color: var(--mysuni-admin-color-gray-04);
    }

    &.type-01 {
      border-radius: 6px;
      overflow: hidden;

      > button {
        height: 57px;
        color: var(--mysuni-admin-color-gray-05);
        background: var(--mysuni-admin-color-gray-01);

        &.active {
          font-weight: 700;
          color: var(--mysuni-admin-color-white);
          background: var(--mysuni-admin-color-gray-07);
        }
      }
    }

    &.type-02 {
      position: relative;
      display: flex;
      &:after {
        position: absolute;
        z-index:0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        background: var(--mysuni-admin-color-gray-03);
      }
      & > button {
        position: relative;
        height: 47px;
        padding: 0 20px;
        border:0 !important;
        flex: 0 0 auto;
        background: var(--mysuni-admin-color-white);

        &:after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          z-index:1;
          content: "";
          display: block;
          height: 1px;
          background: var(--mysuni-admin-color-gray-03);
        }

        &.active {
          font-weight: 700;
          color: var(--mysuni-admin-color-gray-07);
          z-index:1;

          &:after {
            height: 2px;
            background: var(--mysuni-admin-color-gray-07);
          }
        }
      }
    }
  }

  /* 자동완성 */
  .auto_complete_wrap {
    margin-right:0 !important;
    position:relative;
    .code-search-list {
      min-width:100%;
      padding:10px 20px;
      background-color:#F5F5F5;
      border:1px solid #d9d9d9;
      border-radius:4px;
      position:absolute;
      top:46px;
      right:0;
      z-index:99;
      display:none;
      &.active {
        display:block;
      }
      .list {
        > li {
          border-bottom:0;
        }
        .no_data {
          padding:150px 0;
          color:var(--mysuni-admin-color-gray-05);
          text-align:center;
        }
        & button {
          & * {
            color:var(--mysuni-admin-color-gray-05) !important;
          }
          &:hover {
            & * {
              color:var(--mysuni-admin-color-gray-07) !important;
            }
            & em {
              color:var(--mysuni-admin-color-prime) !important;
            }
          }
        }
        & em {
          color:var(--mysuni-admin-color-prime) !important;
          font-style:normal;
        }
      }
    }
    &.left {
      .code-search-list {
        right:initial;
        left:0;
      }
    }
    & label + label {
      margin-left:8px;
    }
  }
/* //Add:2024-05-20 회원정보 상세 레이어를 위한 스타일 분리 */

/* datepicker */
[class*="datepicker"] {
  & button {
    height:initial !important;
    padding:5px 0 !important;
    color:initial !important;
    border:initial !important;
    background:initial !important;
    vertical-align:initial !important;
    &:disabled {
      color:#d5d9e0 !important;
    }
  }
}

/* Add : 2024-05-20 신규 date picker */
.v3dp__input_wrapper {
  display:flex;
  align-items:center;
  i {
    font-style:normal;
  }
}
.v3dp__popout {
  padding:5px;
  border:1px solid #999;
}
/* //Add : 2024-05-20 신규 date picker */

/* Add 23-10-19 */
th {
  .tool-tip-title {
    cursor:pointer;
    position:relative;
    display:flex;
    &:after {
      width:20px;
      height:20px;
      margin-left:6px;
      background: url("/assets/images/common/icon_tooltip.png") 50% no-repeat;
      background-size:cover;
      content:'';
      display:block;
    }
  }
  .tooltip-box {
    padding-top:0;
    .popper {
      max-width:inherit;
      z-index:2;
      &.active {
        display:block;
      }
    }
  }
}

/* 2024-05-31 수정진행 row_1 삭제 */
/* 2024-04-04 */
.row_wrap {
  width:100%;
  font-size:13px;
  display:flex; 
  justify-content:space-between;
  gap:10px;
  &.row_4{
    flex-wrap:wrap;
    section {
      width:49%
    }
  }
  section{
    width:50%;
  }
}
/* // 2024-04-04 */
/* // 2024-05-31 수정진행 row_1 삭제 */

/* 2024-04-15 */
.admin_main_row {
  thead {
    tr {
      th {
        max-width:80px !important;
        white-space:normal !important;
        word-break:break-all !important;
      }
    }
  }
  tbody{
    tr {
      th {
        padding:4px 8px !important;
        text-align:left;
        vertical-align:middle !important;
      }
      td {
        padding:4px 8px !important;
      }
    }
  }
}
/* //2024-04-15 */

/* add 2024-05-28 */
.login-layout {
  padding-top:115px;
  .left-panel {
    .h1 {
      position:fixed;
      top:40px;
      left:20px;
      z-index:999;
    }
  }
  .right-panel {
    padding:0 0;
    box-shadow:none;
  }
}
@media (min-width:1130px) {
  .login-layout {
    .right-panel {
      padding:0 50px;
    }
  }
}
@media (min-width:1024px) and (max-width:1129px) {
  .login-layout {
    padding:115px 0 0;
    background-color:transparent;
    display:block;
    .left-panel {
      .visual-wrap {
        display:none;
      }
    }
    .right-panel {
      width:100%;
      max-width:initial;
      padding:0 100px;
      background-color:transparent;
    }
  }
}
/* //add 2024-05-28 */

.ell {
  max-width:80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* 2024-06-18 */
.td_flex {
  display:flex;
}
/* // 2024-06-18 */